@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Pixelify+Sans:wght@600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');
.container {
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Logo styles */
.logo {
  font-family: 'Pixelify Sans';
  font-size: 90px;
  margin-bottom: 20px;
}

/* Input and Button styles */
.input-container {
  display: flex;
  align-items: center;
}

.img-card {
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.img-card a {
  transition: all 0.3s ease-in-out;
}

.img-card img {
  transform-origin: center center;
  /* add this line */
  scale: 1.2;
  display: flex;
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.img-card:hover img {
  scale: 1;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 250px;
  height: 26px;
}

input[type="text"]:focus, input[type="text"]:active {
  outline: none;
  border-color: #fff;
}

input[type="text"]::placeholder {
  color: #aaa;
}


button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button[type="submit"]:hover {
  background-color: #0069D9;
}
button[type="submit"] span{
  height : 20px;
  width : 20px;
  margin-top : 6px;
}
.baseimage {
  width: 400px;
}

/* Media query for small screens (e.g., mobile phones) */
@media (max-width: 768px) {
  .logo {
    font-size: 50px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 14px;
  }

  .baseimage {
    width: 300px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: 100px;
}

.footer p {
  margin: 0;
  font-size: 16px;
}
